# Entornos virtuales
venv/
env/
.env

# Carpetas de datos (No subir PDFs ni imágenes al repo)
# data/raw/
# data/processed/

# Archivos cacheados de Python
__pycache__/
*.pyc

# Resultados de inferencia (imágenes pesadas)
runs/

# Modelo preentrenado
*.pt
